# Bot Configuration
API_ID=20899529
API_HASH=0297693c81aac01b704702f334decddd
BOT_TOKEN=8399076730:AAGE82OF2_OVm0Nhr57XqtdiHxAb0o-6ybg
OWNER_ID=8002803133
LOG_CHANNEL=-1002783627126

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=video_compressor

# FFmpeg Paths (optional, defaults to system PATH)
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe